*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(20, 20, 20);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;        
    font-family: Arial, Helvetica, sans-serif;
}

.Test_Texto {
    width: 12vw;
    height: 4vw;          /* la mitad del width */
    background: rgb(45, 40, 75);
    border-radius: 0 0 0 100px;  /* solo redondea la parte de abajo */
    grid-column: 1;
    justify-self: center;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}

.Plugin_Container {
    background: rgb(39, 38, 39);
    height: 25vw;
    margin: 2vw;
    border-radius: 30px 30px 30px 30px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 3vw 20vw;
    column-gap: 1.3%;
    text-align: center;
    justify-items: center
}

.Nombre_Campo {
    background: rgb(26, 25, 25);
    grid-column: 1/2;
    grid-row: 1;
    height: 80%;
    width: 95%;
    min-height: 25px;
    margin: 2vw;
    border-radius: 15px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.Descripcion_Campo {
    background: rgb(26, 25, 25);
    grid-column: 2/4;
    grid-row: 2;
    height: 80%;
    width: 95%;
    min-height: 25px;
    margin: 2vw;
    border-radius: 15px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.Comandos_Campo {
    background: rgb(26, 25, 25);
    grid-column: 2/4;
    grid-row: 2;
    height: 80%;
    width: 95%;
    min-height: 25px;
    margin: 2vw;
    border-radius: 15px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.Imagen_Campo {
    background: rgb(26, 25, 25);
    grid-column: 2/4;
    grid-row: 2;
    height: 80%;
    width: 95%;
    min-height: 25px;
    margin: 2vw;
    border-radius: 15px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.hproyectos{
    grid-row: 1/1;
    grid-column: 2/3;
    font-size: 3.1vw;
    margin-top: 2.5vw;
}

@keyframes ZoomPulsante{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.021);
    }
    100%{
        transform: scale(1);
    }
}