*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(20, 20, 20);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;        
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 16vw);
}

.Nickname_Campo {
    background: rgb(26, 25, 25);
    grid-column: 2/4;
    grid-row: 2;
    height: 80%;
    width: 95%;
    min-height: 25px;
    margin: 2vw;
    border-radius: 15px;
}

.Texto_Nickname{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    border: none;
    background: rgb(26, 25, 25);
    color: white;
    font-size: 3vw;
    font-family: sans-serif;
    outline: none;
    resize: none;
    text-align: left;
}

.Contraseña_Campo {
    background: rgb(26, 25, 25);
    grid-column: 2/4;
    grid-row: 3;
    height: 80%;
    width: 95%;
    min-height: 25px;
    margin: 2vw;
    border-radius: 15px;
}

.Texto_Contraseña{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    border: none;
    background: rgb(26, 25, 25);
    color: white;
    font-size: 3vw;
    font-family: sans-serif;
    outline: none;
    resize: none;
    text-align: left;
}

.Google_Campo{
    background: rgb(26, 25, 25);
    height: 80%;
    width: 90%;
    min-height: 25px;
    border-radius: 15px;
    grid-column: 2;
    grid-row: 4;
    margin: 2vw;
    transition-duration: 0.5s;
    cursor: pointer
    display: flex;
    align-items: center;      /* centra verticalmente */
    justify-content: center;  /* centra horizontalmente */
}

.Google_Campo:hover{
    scale: 1.03;
    transform-origin: center;
}

.Fuente_Google{
    font-size: 3vw;
    text-align: center;
    margin-top: 0.5vw;
    color:rgb(103, 3, 233);
    font-family: sans-serif;
}

@keyframes ZoomPulsante{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.021);
    }
    100%{
        transform: scale(1);
    }
}