*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://raw.githubusercontent.com/mrfantasymanagment/MrFantasy-Web/refs/heads/main/Resources/Final/Login_Fondo.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;        
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 30vh 70vh;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.Sesion_Campo{
    background: rgba(0, 0, 0, 0);
    height: 95%;
    width: 95%;
    min-height: 25px;
    border-radius: 15px;
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    justify-content: center;   
    align-items: center;
}


.Fuente_Sesion{
    font-size: 3vw;
    text-align: center;
    color:rgb(103, 3, 233);
    font-family: sans-serif;
}

.Google_Campo{
    background: rgb(26, 25, 25);
    height: 100%;
    width: 90%;
    min-height: 25px;
    border-radius: 15px;
    grid-column: 2;
    grid-row: 2;
    transition-duration: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.Google_Campo:hover{
    scale: 1.03;
    transform-origin: center;
}

.Fuente_Google{
    font-size: 3vw;
    text-align: center;
    color:rgb(103, 3, 233);
    font-family: sans-serif;
}

.Discord_Campo{
    background-image: url(https://raw.githubusercontent.com/mrfantasymanagment/MrFantasy-Web/refs/heads/main/Resources/Final/Login_Fondo.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;       
    height: 100%;
    width: 90%;
    min-height: 25px;
    border-radius: 15px;
    grid-column: 3;
    grid-row: 2;
    transition-duration: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.Discord_Campo:hover{
    scale: 1.03;
    transform-origin: center;
}

.Fuente_Discord{
    font-size: 3vw;
    text-align: center;
    color:rgb(103, 3, 233);
    font-family: sans-serif;
}


@keyframes ZoomPulsante{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.021);
    }
    100%{
        transform: scale(1);
    }
}